{% extends 'hospital/adminDashboard.html' %} 
{% block adminDashBoard %}

<div class="admin-card white-block" style="background-color: #EBFBFF; padding: 20px;">
    <div class="row">
        <div class="col-md-4 cardsApp text-center mb-3" style="background-color: #FFFFFF; border-radius: 5px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 20px;">
            <a href="{% url 'adminDoctor' %}" class="text-decoration-none text-dark">
                <h6 class="mb-2">Doctor Record</h6>
                <i class="fa-solid fa-user-doctor" style="color: #007C9D; font-size: 2em;"></i>
            </a>
        </div>
        <div class="col-md-4 cardsApp text-center mb-3" style="background-color: #FFFFFF; border-radius: 5px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 20px;">
            <a href="{% url 'adminDoctorAdd' %}" class="text-decoration-none text-dark">
                <h6 class="mb-2">Register Doctor</h6>
                <i class="fa-solid fa-user-plus" style="color: #007C9D; font-size: 2em;"></i>
            </a>
        </div>
        <div class="col-md-4 cardsApp text-center mb-3" style="background-color: #FFFFFF; border-radius: 5px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 20px;">
            <a href="{% url 'adminDoctorApprove' %}" class="text-decoration-none text-dark">
                <h6 class="mb-2">Approved Doctor</h6>
                <i class="fa-regular fa-circle-check" style="color: #007C9D; font-size: 2em;"></i>
            </a>
        </div>
    </div>
</div>

{% endblock adminDashBoard %}